.App-header {
  background-color: #252526;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-right: 1rem;
  padding-bottom: 35px;
  padding-left: 1rem;

}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  width: 200px;  
  height: 66px;  
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li .inactive-link {
  font-size: clamp(14px, 0.875rem + ((1vw-3.2px)*0.455), 18px);
  font-style: normal;
  color: white;
  text-decoration: none;
}

nav ul li .active-link {
  font-size: clamp(14px, 0.875rem + ((1vw-3.2px)*0.455), 18px);
  font-style: normal;
  color: #61dafb;
  text-decoration: none;
}
